/* _base.sass */

* {
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
}

html, body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  // overflow: hidden;
  background-color: $brand-background-color;
  z-index: 0;
}

main {
  display: block;
}

section {
  width: 100%;
}

header {
  position: relative;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  // min-height: $navbar-height;

  // @media only screen and (min-width: #{nth($breakpoint-desktop, 3)}px) {
  //   min-height: $navbar-height-desktop;
  // }

  z-index: 2;
}

a {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6, p {
  display: block;
  width: 100%;
}

p + p {
  margin-top: 0;
}

figure {
  margin: 0;
}

ul {
  list-style-type: none;
}
