<nav class="navbar navbar-fixed {% if page.title <> 'Tabs' %} shadow-4 {% endif %}">
    <span class="drawer-toggler navbar-item hamburger-icon"></span>
    {% if page.title %}
    <span class="navbar-title">
          {{ page.title }}
    </span>

    {% else %}
        <span class="small-screen-hide">taCSS - the most configurable CSS framework</span>
    {% endif %}
</nav>
{% if page.title == "Tabs" %}
<nav class="navbar nav-tab">
    <a href="#tab1" class="tab-item" toggle-for="alert">basic alert</a>
    <a href="#tab1" class="tab-item" toggle-for="primaryalert">primary alert</a>
    <a href="#tab1" class="tab-item" toggle-for="successalert">success alert</a>
    <a href="#tab1" class="tab-item" toggle-for="infoalert">info alert</a>
    <a href="#tab1" class="tab-item" toggle-for="warningalert">warning alert</a>
    <a href="#tab1" class="tab-item" toggle-for="dangeralert">danger alert</a>
</nav>
 <div class='navbar-fixed-shadow  shadow-4'></div>
{% endif %}
