/* _navbar.sass */

%navbar-item {
  display: flex;
  margin: 0;
  flex-shrink: 0;
  height: 100%;
  line-height: inherit;
  padding: 0 ($base-padding / 2) 0 ($base-padding / 2);
  color: inherit;
  align-items: center;
  max-width: max-content;
}

.#{$class-navbar} {
  position: relative;
  z-index: 1300;

  display: flex;
  flex: 1 0 100%;
  flex-wrap: nowrap;
  flex-direction: row;

  overflow-x: auto;

  height: $navbar-height;
  max-height: $navbar-height;
  line-height: $navbar-height;

  padding-left: $base-padding;
  padding-right: $base-padding;

  @if $enable-colors {
    background-color: $navbar-color-background;
    color: $navbar-color-text;
  }

  & .#{$class-navbar-item} {
    @extend %navbar-item;
    font-size: 1.25rem;

    @if $enable-colors {
      color: $navbar-color-text;
    }
  }

  & .#{$class-navbar-title} {
    @extend %navbar-item;
    font-size: 1.75rem;

    @if $enable-colors {
      color: $navbar-color-text;
    }
  }

  .#{$class-navbar-link} {
    &:hover {
      background-color: inherit;
      -webkit-filter: brightness($navbar-color-item-hover);
      filter: brightness($navbar-color-item-hover);
      color: $navbar-text-color-hover;
    }

    &:active {
      background-color: inherit;
      -webkit-filter: brightness($navbar-color-item-active);
      filter: brightness($navbar-color-item-active);
      color: $navbar-text-color-active;
    }
  }

  @media only screen and (min-width: #{nth($breakpoint-desktop, 3)}px) {
    height: $navbar-height-desktop;
    max-height: $navbar-height-desktop;
    line-height: $navbar-height-desktop;
  }
}


.#{$class-navbar-fixed} {
  position: fixed;
  width: 100%;
  z-index: 1400;
}

.#{$class-navbar} {
  //webkit bug fix - do not remove - http://stackoverflow.com/questions/14732403/position-fixed-not-working-for-header
  -webkit-transform: translate3d(0, 0, 0);

  @for $i from 1 through $navbar-max-nth-child {
    &:nth-of-type(#{$i}) ~ .#{$class-navbar-fixed-shadw} {
      height: $navbar-height * $i;

      @media only screen and (min-width: #{nth($breakpoint-desktop, 3)}px) {
        height: $navbar-height-desktop * $i;
      }
    }

    &:nth-child(#{$i}).#{$class-navbar-fixed} + .#{$class-navbar},
    &:nth-child(#{$i}).#{$class-navbar-fixed} ~ main {
      margin-top: calc( #{$navbar-height} *  #{$i} );

      @media only screen and (min-width: #{nth($breakpoint-desktop, 3)}px) {
        margin-top: calc( #{$navbar-height-desktop} *  #{$i} );
      }
    }
    &:nth-child(#{$i}):not(.#{$class-navbar-fixed}) ~ main {
      height: calc( 100% - ( #{$navbar-height} *  #{$i} ));

      @media only screen and (min-width: #{nth($breakpoint-desktop, 3)}px) {
        height: calc( 100% - ( #{$navbar-height-desktop} *  #{$i} ));
      }
    }
    &:nth-child(#{$i}) + .#{$class-drawer} {
      top: $navbar-height * $i;
      height: calc( 100% - ( #{$navbar-height} *  #{$i} ));

      @media only screen and (min-width: #{nth($breakpoint-desktop, 3)}px) {
        top: $navbar-height-desktop * $i;
        height: calc( 100% - ( #{$navbar-height-desktop} *  #{$i} ));
      }
    }
  }
}

//fixed shadow must be last in navbar list
.#{$class-navbar-fixed-shadw} {
  position: fixed;
  display: block;
  width: 100%;
  left: 0;
  top: 0;
  z-index: auto;

  //webkit bug fix - do not remove - http://stackoverflow.com/questions/14732403/position-fixed-not-working-for-header
  -webkit-transform: translate3d(0, 0, 0);
}

// if the navbar side by the drawer and fixed need special rule to keep position
.#{$class-drawer}.#{$class-drawer-fixed} ~ main .#{$class-navbar-fixed},
.#{$class-drawer}.#{$class-drawer-fixed} ~ main .#{$class-navbar-fixed-shadw}, {
  left: #{$drawer-width};

  @media screen and (max-width: #{(nth($breakpoint-desktop, 3) - nth($breakpoint-mobile, 3)) / 2 + nth($breakpoint-mobile, 3)}px) {
    left: 0;
  }
}
