/* _navbar.sass */
.#{$class-navbar} {
  position: relative;
  z-index: 1300;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  flex-direction: row;
  height: $navbar-height;
  line-height: $navbar-height;
  padding-left: $base-padding;
  padding-right: $base-padding;
  left: 0;
  right: 0;
  font-weight: 400;

  @if $enable-colors {
    background-color: $navbar-color-background;
    color: $navbar-color-text;
  }

  & .#{$class-navbar-item} {
    display: flex;
    margin: 0;
    flex-shrink: 0;
    height: $navbar-height;
    line-height: $navbar-height;
    padding: 0 ($base-padding / 2) 0 ($base-padding / 2);
    color: inherit;
    font-size: 1.5rem;
    align-items: center;

    & > * {
      line-height: $navbar-height;
    }
  }

  & .#{$class-navbar-title} {
    font-size: 2rem;
    margin: 0;
    flex-shrink: 0;
    height: $navbar-height;
    line-height: $navbar-height;
    padding: 0 ($base-padding / 2) 0 ($base-padding / 2);
    align-items: center;

    @if $enable-colors {
      color: $navbar-color-text;
    }
  }

  .#{$class-navbar-link} {
    &:hover {
      background-color: inherit;
      -webkit-filter: brightness($navbar-color-item-hover);
      filter: brightness($navbar-color-item-hover);
      color: $navbar-text-color-hover;
    }

    &:active {
      background-color: inherit;
      -webkit-filter: brightness($navbar-color-item-active);
      filter: brightness($navbar-color-item-active);
      color: $navbar-text-color-active;
    }
  }
}

.#{$class-navbar},
.#{$class-navbar} .#{$class-navbar-item},
.#{$class-navbar-item} > *,
.#{$class-navbar} .#{$class-navbar-title},
.#{$class-navbar-title} > * {
  @media only screen and (min-width: #{nth($breakpoint-desktop, 3)}px) {
    height: $navbar-height-desktop;
    line-height: $navbar-height-desktop;
  }
}

.#{$class-navbar-fixed} {
  position: fixed;
  z-index: 1400;

  //webkit bug fix - do not remove - http://stackoverflow.com/questions/14732403/position-fixed-not-working-for-header
  -webkit-transform: translate3d(0, 0, 0);

  @for $i from 1 through $navbar-max-fixed-line {
    &:nth-of-type(#{$i}) ~ .#{$class-navbar-fixed-shadw} {
      height: $navbar-height * $i;

      @media only screen and (min-width: #{nth($breakpoint-desktop, 3)}px) {
        height: $navbar-height-desktop * $i;
      }
    }

    &:nth-child(#{$i}) + .#{$class-navbar},
    &:nth-child(#{$i}) ~ main {
      margin-top: $navbar-height * $i;

      @media only screen and (min-width: #{nth($breakpoint-desktop, 3)}px) {
        margin-top: $navbar-height-desktop * $i;
      }
    }
  }
}

// fixed shadow must be last in navbar list
.#{$class-navbar-fixed-shadw} {
  position: fixed;
  display: block;
  width: 100%;
  left: 0;
  top: 0;
  z-index: auto;

  //webkit bug fix - do not remove - http://stackoverflow.com/questions/14732403/position-fixed-not-working-for-header
  -webkit-transform: translate3d(0, 0, 0);
}

.#{$class-drawer}.#{$class-drawer-fixed} ~ main .#{$class-navbar-fixed},
.#{$class-drawer}.#{$class-drawer-fixed} ~ main .#{$class-navbar-fixed-shadw}, {
  left: #{$drawer-width};

  @media screen and (max-width: #{(nth($breakpoint-desktop, 3) - nth($breakpoint-mobile, 3)) / 2 + nth($breakpoint-mobile, 3)}px) {
    left: 0;
  }
}
