---
layout: page
title: Cards
description: A card is a flexible and extensible content container. It includes options for headers and footers, a wide variety of content, contextual background colors, and powerful display options.
source:
components: true
---
<div class="m-t-3 col-12">
    <div class="row">
        <p>
            A card is a flexible and extensible content container. It includes options for headers and footers, a wide variety of content, contextual background colors, and powerful display options.
        </p>

        <h6>Contents</h6>
        <ul>
            <li><a href="#card_example">Example</a></li>
            <li><a href="#card_blocks">Blocks</a></li>
            <li><a href="#card_title">Title, subtitle</a></li>
            <li><a href="#card_featured">Header and footer</a></li>
            <li><a href="#card_size">Size</a></li>
            <li><a href="#card_images">Images</a></li>
            <li><a href="#card_styles">Card styles</a></li>
            <li><a href="#card_group">Group</a></li>
        </ul>

        <h6 class="p-t-5" id="card_example">Example</h6>
        <p>
            Cards are built with as little markup and styles as possible, but still manage to deliver a lot of control and customization. Built with flexbox, they offer easy alignment and mix well with other taCSS components.
        </p>
        <p>
            Below is an example of a basic card with mixed content and a maximised width. Cards have no fixed width to start, so they’ll naturally fill the full width of its parent element. This is easily customized with any sizing options.
        </p>

        <div class="col-6 col-tablet-3 l-center">
            <div class="card" style="max-width: 30rem;">
                <img class="img-fluid" src="{{ site.baseurl }}/img/robin.jpg">
                <div class="img-overlay text-white">
                    The robin...
                </div>
                <div class="card-block">
                    <h4 class="card-title">The Robin</h4>
                    <p class="card-text">
            The European robin (Erithacus rubecula), known simply as the robin or robin redbreast in the British Isles, is a small insectivorous passerine bird, specifically a chat, that was formerly classified as a member of the thrush family (Turdidae) but is now considered to be an Old World flycatcher. About 12.5–14.0 cm (5.0–5.5 inch) in length, the male and female are similar in colouration, with an orange breast and face lined with grey, brown upperparts and a whitish belly. It is found across Europe, east to Western Siberia and south to North Africa; it is sedentary in most of its range except the far north.
                    </p>
                </div>
                <div class="card-action card-action--bordered">
                    <button class="btn btn-primary">Do something</button>
                </div>
            </div>
        </div>
<div class="col-6 col-tablet-5 code info code-large">
{% highlight html %}
<div class="card" style="max-width: 30rem;">
    <img class="img-fluid" src="{{ site.baseurl }}/img/robin.jpg">
    <div class="img-overlay text-white">
        The robin...
    </div>
    <div class="card-block">
        <h4 class="card-title">The Robin</h4>
        <p class="card-text">
The European robin (Erithacus rubecula), known simply as the robin or robin redbreast in the British Isles, is a small insectivorous passerine bird, specifically a chat, that was formerly classified as a member of the thrush family (Turdidae) but is now considered to be an Old World flycatcher. About 12.5–14.0 cm (5.0–5.5 inch) in length, the male and female are similar in colouration, with an orange breast and face lined with grey, brown upperparts and a whitish belly. It is found across Europe, east to Western Siberia and south to North Africa; it is sedentary in most of its range except the far north.
        </p>
    </div>
    <div class="card-action card-action--bordered">
        <button class="btn btn-primary">Do something</button>
    </div>
</div>
{% endhighlight %}
</div>

        <h6 class="p-t-5" id="card_blocks">Blocks</h6>
        <p>
            The building block of a card is the <span class="code-class">.card-block</span>. Use it whenever you need a padded div within a card.
        </p>
        <div class="col-12">
            <div class="card">
                <div class="card-block">
                    This is some text within a card block.
                </div>
            </div>
        </div>
<div class="col-12 code info code-large">
{% highlight html %}
<div class="card">
    <div class="card-block">
        This is some text within a card block.
    </div>
</div>
{% endhighlight %}
</div>

        <h6 class="p-t-5" id="card_text">Title, subtitle</h6>
        <p>
            Card titles are used by adding <span class="code-class">.card-title</span>, subtitles by adding <span class="code-class">.card-subtitle</span> to a <span class="code-class">&lt;h*&gt;</span> tag.
        </p>
        <div class="col-12">
            <div class="card">
                <div class="card-block">
                    <h3 class="card-title">Card title</h3>
                    <h6 class="card-subtitle text-grey">Card subtitle</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, sit perferendis, ex quae alias animi, porro provident deserunt redivhenderit qui rem adipisci!</p>
                </div>
            </div>
        </div>
<div class="col-12 code info code-large">
{% highlight html %}
<div class="card">
    <div class="card-block">
        <h3 class="card-title">Card title</h3>
        <h6 class="card-subtitle text-grey">Card subtitle</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, sit perferendis, ex quae alias animi, porro provident deserunt redivhenderit qui rem adipisci!</p>
    </div>
</div>
{% endhighlight %}
</div>

        <h6 class="p-t-5" id="card_featured">Header and footer</h6>
        <p>
            Add an optional header and/or footer within a card by <span class="code-class">.card-featured</span> class.
        </p>
        <div class="col-12">
            <div class="card">
                <div class="card-featured bg-grey-3">
                    Header
                </div>
                <div class="card-block">
                    <h4 class="card-title">Special title</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, sit perferendis, ex quae alias animi.</p>
                    <a href="#" class="btn btn-primary">Do something</a>
                </div>
                <div class="card-featured bg-grey-3">
                    Footer
                </div>
            </div>
        </div>
<div class="col-12 code info code-large">
{% highlight html %}
<div class="card">
    <div class="card-featured bg-grey-3">
        Header
    </div>
    <div class="card-block">
        <h4 class="card-title">Special title</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, sit perferendis, ex quae alias animi.</p>
        <a href="#" class="btn btn-primary">Do something</a>
    </div>
    <div class="card-featured bg-grey-3">
        Footer
    </div>
</div>
{% endhighlight %}
</div>

        <h6 class="p-t-5" id="card_size">Sizing</h6>
        <p>
            Cards assume no specific width to start, so they’ll be 100% wide unless otherwise stated. You can change this as needed with custom CSS, grid classes or utilities.
        </p>
        <div class="col-12">
            <div class="row">
                <div class="card col-2">
                    <div class="card-featured bg-grey-3">
                        Header
                    </div>
                    <div class="card-block">
                        Simple card (width: col-2)
                    </div>
                </div>
                <div class="card col-4">
                    <div class="card-featured bg-grey-3">
                        Header
                    </div>
                    <div class="card-block">
                        Simple card (width: col-4)
                    </div>
                    <div class="card-featured bg-grey-3">
                        Footer
                    </div>
                </div>
                <div class="card col-3">
                    <div class="card-block">
                        Simple card (width: col-3)
                    </div>
                    <div class="card-featured bg-grey-3">
                        Footer
                    </div>
                </div>
                <div class="card" style="max-width:10rem;">
                    <div class="card-block">
                        Simple card (max-width: 10rem)
                        heighter then the rest becouse no gutter around...
                    </div>
                    <div class="card-featured bg-grey-3">
                        Footer
                    </div>
                </div>
            </div>
        </div>
<div class="col-12 code info code-large">
{% highlight html %}
<div class="row">
    <div class="card col-2">
        <div class="card-featured bg-grey-3">
            Header
        </div>
        <div class="card-block">
            Simple card (width: col-2)
        </div>
    </div>
    <div class="card col-4">
        <div class="card-featured bg-grey-3">
            Header
        </div>
        <div class="card-block">
            Simple card (width: col-4)
        </div>
        <div class="card-featured bg-grey-3">
            Footer
        </div>
    </div>
    <div class="card col-3">
        <div class="card-block">
            Simple card (width: col-3)
        </div>
        <div class="card-featured bg-grey-3">
            Footer
        </div>
    </div>
    <div class="card" style="max-width:10rem;">
        <div class="card-block">
            Simple card (max-width: 10rem)
            heighter then the rest becouse no gutter around...
        </div>
        <div class="card-featured bg-grey-3">
            Footer
        </div>
    </div>
</div>
{% endhighlight %}
</div>
        <h6 class="p-t-5" id="card_images">Images</h6>
        <p>
            Card csn contain images, images can contain anything else within element with the <span class="code-class">.img-overlay</span> class right after the image.
        </p>
        <div class="col-12">
            <div class="row">
                <div class="card col-4">
                    <img class="img-fluid" src="{{ site.baseurl }}/img/robin.jpg">
                    <div class="card-block">
                        <h4 class="card-title">The Robin</h4>
                        <p class="card-text">
                The European robin (Erithacus rubecula), known simply as the robin or robin redbreast in the British Isles, is a small insectivorous passerine bird...
                        </p>
                    </div>
                </div>
                <div class="card col-4">
                    <img class="img-fluid" src="{{ site.baseurl }}/img/robin.jpg">
                    <div class="img-overlay text-white">
                        <h4 class="card-title">The Robin</h4>
                        <p class="card-text" style="text-shadow: -1px -1px 1px rgb(0, 0, 0);color:rgb(190, 236, 169);">
            The European robin (Erithacus rubecula), known simply as the robin or robin redbreast in the British Isles, is a small insectivorous passerine bird...
                        </p>
                    </div>
                </div>
            </div>
        </div>
<div class="col-12 code info code-large">
{% highlight html %}
<div class="row">
    <div class="card col-4">
        <img class="img-fluid" src="{{ site.baseurl }}/img/robin.jpg">
        <div class="card-block">
            <h4 class="card-title">The Robin</h4>
            <p class="card-text">
    The European robin (Erithacus rubecula), known simply as the robin or robin redbreast in the British Isles, is a small insectivorous passerine bird...
            </p>
        </div>
    </div>
    <div class="card col-4">
        <img class="img-fluid" src="{{ site.baseurl }}/img/robin.jpg">
        <div class="img-overlay text-white">
            <h4 class="card-title">The Robin</h4>
            <p class="card-text" style="text-shadow: -1px -1px 1px rgb(0, 0, 0);color:rgb(190, 236, 169);">
The European robin (Erithacus rubecula), known simply as the robin or robin redbreast in the British Isles, is a small insectivorous passerine bird...
            </p>
        </div>
    </div>
</div>
{% endhighlight %}
</div>
        <h6 class="p-t-5" id="card_styles">Card styles</h6>
        <p>
            Cards include various options for customizing their <a class="slide-item" href="{{ site.baseurl }}/components/colors.html">backgrounds</a>, borders, and <a class="slide-item" href="{{ site.baseurl }}/components/colors.html">color</a>.
        </p>
        <div class="col-12">
            <div class="row">
                <div class="card col-2">
                    <div class="card-featured">
                        Header
                    </div>
                    <div class="card-block">
                        Simple card default
                    </div>
                </div>
                <div class="card col-2 primary">
                    <div class="card-featured">
                        Header
                    </div>
                    <div class="card-block">
                        Simple card success
                    </div>
                </div>
                <div class="card col-2 success">
                    <div class="card-featured">
                        Header
                    </div>
                    <div class="card-block">
                        Simple card success
                    </div>
                </div>
                <div class="card col-2 info">
                    <div class="card-featured">
                        Header
                    </div>
                    <div class="card-block">
                        Simple card (width: col-2)
                    </div>
                </div>
                <div class="card col-2 warning">
                    <div class="card-featured">
                        Header
                    </div>
                    <div class="card-block">
                        Simple card (width: col-2)
                    </div>
                </div>
                <div class="card col-2 danger">
                    <div class="card-featured">
                        Header
                    </div>
                    <div class="card-block">
                        Simple card (width: col-2)
                    </div>
                </div>
                <div class="card col-2 ">
                    <div class="card-featured bg-indigo colored">
                        Header
                    </div>
                    <div class="card-block">
                        Simple card default
                    </div>
                </div>
                <div class="card col-2 ">
                    <div class="card-featured bg-blue colored">
                        Header
                    </div>
                    <div class="card-block text-red-7">
                        Simple card default
                    </div>
                </div>
                <div class="card outline-red col-2 ">
                    <div class="card-featured">
                        Header
                    </div>
                    <div class="card-block text-red-7">
                        Simple card default
                    </div>
                </div>
                <div class="card col-2 outline-blue success">
                    <div class="card-featured">
                        Header
                    </div>
                    <div class="card-block">
                        Simple card default
                    </div>
                </div>
                <div class="card col-2 outline-green success">
                    <div class="card-featured bg-green-3 colored">
                        Header
                    </div>
                    <div class="card-block">
                        Simple card default
                    </div>
                </div>
                <div class="card col-2 outline-orange success">
                    <div class="card-featured bg-purple-3 colored">
                        Header
                    </div>
                    <div class="card-block text-black">
                        Simple card default
                    </div>
                </div>
            </div>
        </div>
<div class="col-12 code info code-large">
{% highlight html %}
<div class="row">
    <div class="card col-2">
        <div class="card-featured">
            Header
        </div>
        <div class="card-block">
            Simple card default
        </div>
    </div>
    <div class="card col-2 primary">
        <div class="card-featured">
            Header
        </div>
        <div class="card-block">
            Simple card success
        </div>
    </div>
    <div class="card col-2 success">
        <div class="card-featured">
            Header
        </div>
        <div class="card-block">
            Simple card success
        </div>
    </div>
    <div class="card col-2 info">
        <div class="card-featured">
            Header
        </div>
        <div class="card-block">
            Simple card (width: col-2)
        </div>
    </div>
    <div class="card col-2 warning">
        <div class="card-featured">
            Header
        </div>
        <div class="card-block">
            Simple card (width: col-2)
        </div>
    </div>
    <div class="card col-2 danger">
        <div class="card-featured">
            Header
        </div>
        <div class="card-block">
            Simple card (width: col-2)
        </div>
    </div>
    <div class="card col-2 ">
        <div class="card-featured bg-indigo colored">
            Header
        </div>
        <div class="card-block">
            Simple card default
        </div>
    </div>
    <div class="card col-2 ">
        <div class="card-featured bg-blue colored">
            Header
        </div>
        <div class="card-block text-red-7">
            Simple card default
        </div>
    </div>
    <div class="card outline-red col-2 ">
        <div class="card-featured">
            Header
        </div>
        <div class="card-block text-red-7">
            Simple card default
        </div>
    </div>
    <div class="card col-2 outline-blue success">
        <div class="card-featured">
            Header
        </div>
        <div class="card-block">
            Simple card default
        </div>
    </div>
    <div class="card col-2 outline-green success">
        <div class="card-featured bg-green-3 colored">
            Header
        </div>
        <div class="card-block">
            Simple card default
        </div>
    </div>
    <div class="card col-2 outline-orange success">
        <div class="card-featured bg-purple-3 colored">
            Header
        </div>
        <div class="card-block text-black">
            Simple card default
        </div>
    </div>
</div>
{% endhighlight %}
</div>

        <h6 class="p-t-5" id="card_group">Card group</h6>
        <p>
            Use card groups to render cards as a single, attached element with equal width and height columns. Card groups use display: flex; to achieve their uniform sizing.
        </p>
        <div class="col-12">
            <div class="row">
                <div class="card-group" style="justify-content:center;">
                    <div class="card col-4">
                        <div class="card-featured">
                            Header
                        </div>
                        <div class="card-block">
                            Simple card
                        </div>
                    </div>
                    <div class="card success col-4">
                        <img class="img-fluid" src="{{ site.baseurl }}/img/robin.jpg">
                        <div class="card-block">
                            <h6>Robin</h6>
                            <p>
                                One beautiful bird...
                            </p>
                        </div>
                    </div>
                    <div class="card col-4">
                        <div class="card-featured">
                            Header
                        </div>
                        <div class="card-block">
                            Simple card
                        </div>
                        <div class="card-featured">
                            Footer
                        </div>
                    </div>
                </div>
            </div>
        </div>
<div class="col-12 code info code-large">
{% highlight html %}
<div class="row">
    <div class="card-group" style="justify-content:center;">
        <div class="card col-4">
            <div class="card-featured">
                Header
            </div>
            <div class="card-block">
                Simple card
            </div>
        </div>
        <div class="card success col-4">
            <img class="img-fluid" src="{{ site.baseurl }}/img/robin.jpg">
            <div class="card-block">
                <h6>Robin</h6>
                <p>
                    One beautiful bird...
                </p>
            </div>
        </div>
        <div class="card col-4">
            <div class="card-featured">
                Header
            </div>
            <div class="card-block">
                Simple card
            </div>
            <div class="card-featured">
                Footer
            </div>
        </div>
    </div>
</div>
{% endhighlight %}
</div>

    </div>
</div>
