---
layout: page
title: Dialog
description: The dialog component allows for verification of user actions, simple data input, and alerts to provide extra information to users.
---
<section class="m-t-3 col-12">
<div class="row">
    <p>
        The dialog component allows for verification of user actions, simple data input, and alerts to provide extra information to users.
    </p>
    <h6>Actions order</h6>
    <p>
        The order is automatically reversed for actions. So, the first action you create will appear last on the action bar.
    </p>
    <h6>Responsible dialog and allert width</h6>
    <p>
        On phone screen the dialog width: 90% fixed, or 100%-gutter*2. Up to 3/2 part of tablet screen the dialog width: 80% fixed or 100%-20%-gutter*2.
        Otherwise the dialog wide what you request within the <span class="code-class">dialog</span> class.
        Don't forget to use <span class="code-class">no-gutter</span> class if you dont want gutter around the dialog.
    </p>
    <p>
        <span class="code-class">dialog-content</span> scrollable. The dialog max height: 90% of the screen. After the content srollable.
        So feel free to use longer lists inside.
        Dialog can use even for alert as well...
    </p>
    <h6>
        Predefined styles
    </h6>
    <p>
        For styling, (booth, with javascript or without) you can use one of the five predefinied classes (
            <span class="code-class">.primary</span>,
            <span class="code-class">.success</span>,
            <span class="code-class">.info</span>,
            <span class="code-class">.warning</span>,
            <span class="code-class">.danger</span>) <br>
        To use the predefinied classes require to set <span class="code-class">$enable-variants: true !default</span> in base/_variations.sass!
    </p>
</div>
<div class="row ">
    <h6>
        Examples
    </h6>
    <div class="col-6 no-gutter col-tablet-8">
        <div class="col-12">
            <button class="btn ripple bg-blue colored" toggle-for="dialog-js">dialog</button>
            <div class="dialog danger col-5 col-tablet-6" id="dialog-js">
                <span class="dialog-title"> Dialog title </span>
                <div class="dialog-content">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem molestiae unde aspernatur id, ratione distinctio, neque, repellat debitis vero redivhenderit aliquid, corrupti vitae placeat recusandae totam tenetur hic iste. Quia!
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem tempora amet nulla, voluptates ea ex quos consequatur facere vel unde a. Beatae magni est deserunt, ut quis sint natus neque.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem molestiae unde aspernatur id, ratione distinctio, neque, repellat debitis vero redivhenderit aliquid, corrupti vitae placeat recusandae totam tenetur hic iste. Quia!
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem tempora amet nulla, voluptates ea ex quos consequatur facere vel unde a. Beatae magni est deserunt, ut quis sint natus neque.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem molestiae unde aspernatur id, ratione distinctio, neque, repellat debitis vero redivhenderit aliquid, corrupti vitae placeat recusandae totam tenetur hic iste. Quia!
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem tempora amet nulla, voluptates ea ex quos consequatur facere vel unde a. Beatae magni est deserunt, ut quis sint natus neque.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem molestiae unde aspernatur id, ratione distinctio, neque, repellat debitis vero redivhenderit aliquid, corrupti vitae placeat recusandae totam tenetur hic iste. Quia!
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem tempora amet nulla, voluptates ea ex quos consequatur facere vel unde a. Beatae magni est deserunt, ut quis sint natus neque.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem molestiae unde aspernatur id, ratione distinctio, neque, repellat debitis vero redivhenderit aliquid, corrupti vitae placeat recusandae totam tenetur hic iste. Quia!
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem tempora amet nulla, voluptates ea ex quos consequatur facere vel unde a. Beatae magni est deserunt, ut quis sint natus neque.
                </div>
                <div class="dialog-actions">
                    <button class="btn ripple text-green"> ok </button>
                    <button class="btn ripple text-red" toggle-for="dialog-js"> cancel </button>
                </div>
            </div>
        </div>
<div class="code info col-12">
{% highlight html %}
<button class="btn ripple bg-blue colored" toggle-for="dialog-js">dialog</button>
<div class="dialog danger col-5 col-tablet-6" id="dialog-js">
    <span class="dialog-title"> Dialog title </span>
    <div class="dialog-content">
        ...
    </div>
    <div class="dialog-actions">
        <button class="btn ripple text-green"> ok </button>
        <button class="btn ripple text-red" toggle-for="dialog-js"> cancel </button>
    </div>
</div>
{% endhighlight %}
</div>
    </div>

    <div class="col-6 no-gutter col-tablet-8">
        <div class="col-12">
            <button class="btn ripple bg-blue colored" toggle-for="alert-js">alert style dialog</button>
            <div class="dialog success col-4" id="alert-js">
                <span class="dialog-content"> Discard draft? </span>
                <div class="dialog-actions">
                    <button class="btn ripple text-blue"> discard </button>
                    <button class="btn ripple text-blue" toggle-for="alert-js"> cancel </button>
                </div>
            </div>
        </div>
<div class="code info col-12">
{% highlight html %}
<button class="btn ripple bg-blue colored" toggle-for="alert-js">alert style dialog</button>
<div class="dialog success col-4" id="alert-js">
    <span class="dialog-content"> Discard draft? </span>
    <div class="dialog-actions">
        <button class="btn ripple text-blue"> discard </button>
        <button class="btn ripple text-blue" toggle-for="alert-js"> cancel </button>
    </div>
</div>
{% endhighlight %}
</div>
    </div>

</div>
</section>
