---
layout: page
title: Drawer
description: taCSS drawer is a left off canvas menu.
---
<div class="row">
    <div class="col-12 col-t-8 p-3">
        <p>
            taCss at the moment only one drawer object can handle per page and this drawer is in the left side. Howewer if you need more or in the other site, just grab the source and alter it as you wish. (I don't need more, I don't need in the other side and no one else use this so why the effort...)
        </p>
        <p>
            Drawer shoud be the direct children of the body. Preferable the first. (Or the second if you want to use full width navbar).
        </p>
        <h6>drawer setup</h6>
        <div class="code col-12 info p-3">
{% highlight scss %}
/*  drawer class names in "core/classnames.scss" */
$class-drawer: "drawer" !default;
$class-drawer-item: "drawer-item" !default;
$class-drawer-title: "drawer-title" !default;
$class-drawer-fixed: "drawer-fixed" !default;
$class-drawer-toggler: "drawer-toggler" !default;
$class-drawer-close: "drawer--close" !default;

/*  grid setups in "core/_variables.scss" */
$hamburger-color: set-font-color($navbar-color-background, $brand-font-color);
/*  if colors disabled, than no color apply to any drawer element  */
$enable-colors: true !default;

/*  drawer-fixed in opening view not colorized to get the page color theme, howewer
    if you want just turn tu true. Even if this variant false the drawer will use this colors
    when not fixed. */
$enable-drawer-colors-for-default: false !default;

$drawer-color-background: $primary-c1 !default;
$drawer-color-text: set-font-color($primary-color-light, $brand-font-color);
$drawer-border-color: $primary-color-dark !default;

$drawer-color-active-item: 75% !default;
$drawer-close-layer-background: $black !default;

$drawer-width: 340px;
$drawer-item-height: 2rem !default;
$drawer-padding: 0 $base-padding 0 $base-padding !default;
$drawer-font-size: 1rem !default;
{% endhighlight %}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6 col-t-8 p-3">
        <h6>open up</h6>
        <p>
            The open icon, button or whatever you want you can put anywhere in your page. What is important to use the <span class="code-class">drawer-toggler</span> class.
        </p>
    </div>
    <div class=" col-6 col-t-8 p-3">
        <div class="code info">
{% highlight html %}
<nav class="drawer">
    <!-- drawer content -->
</nav>
    <main>
        <header>
            <nav class="navbar">
                <span class="drawer-toggler"></span>
                ...
{% endhighlight %}
        </div>
    </div>
    <div class="col-6 col-t-8 p-3">
        <h6>fixed, not fixed</h6>
        <p>
            Drawer can be fixed or not fixed. It's mean always (all screen size) visible or need to open. Howewer the drawer responsive. On small screen automatic close itself even if is fixed! Small screen not equal to mobile screen size!
            Small screen breakpoint is half way of the tablet. [(desktop breakpoint - mobile breakpoint) / 2 + mobile breakpoint]<br>
            To fix the drawer just use the <span class="code-class">drawer-fixed</span> class within the drawer.
        </p>
    </div>
    <div class=" col-6 col-t-8 p-3">
        <div class="code info">
{% highlight html %}
<nav class="drawer drawer-fixed">
    <!-- drawer content -->
</nav>
{% endhighlight %}
        </div>
    </div>
    <div class="col-6 col-t-8 p-3">
        <h6>drawer title and items</h6>
        <p>
            Drawer title height is minimum the navbar height.<br>
            How to use:
        </p>
    </div>
    <div class=" col-6 col-t-8 p-3">
        <div class="code info">
{% highlight html %}
<nav class="drawer">
    <span  class="drawer-item drawer-title">title</span>
    <a class="drawer-item" href="#">link</a>
    <a class="drawer-item" href="#">link</a>
    <a class="drawer-item" href="#">link</a>
</nav>
{% endhighlight %}
        </div>
    </div>
    <div class="col-6 col-t-8 p-3">
        <h6>collapsed menu in drawer</h6>
        <p>
            The collapsible component use javascript to achieve the collapsible behaviour.
        </p>
    </div>
    <div class=" col-6 col-t-8 p-3">
        <div class="code info">
{% highlight html %}
<nav class="drawer">
    <span  class="drawer-item drawer-title">title</span>
    <a class="drawer-item" href="#">link</a>
    <div class="collapsible">
        <label class="drawer-item l-end" toggle-for="drawer-collapsible-obj">Objects</label>
        <div class="collapsible-content is-visible" id="drawer-collapsible-obj">
            <a class="drawer-item l-end" href="{{ site.baseurl }}/components/drawer.html">drawer</a>
        </div>
    </div>
    <a class="drawer-item" href="#">link</a>
</nav>
{% endhighlight %}
        </div>
    </div>
</div>



