---
layout: page
title: Collapse
description: Dropdowns are toggleable, contextual overlays for displaying lists of links and more.
source:
components: true
---
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<section class="m-t-3 col-12">
    <div class="row col-12">
        <section class="row">
            <p>
                Dropdowns are toggleable, contextual overlays for displaying lists of links and more.
            </p>

            <h6>Contents</h6>
            <ul>
                <li><a href="#dropdown_example">Example</a></li>
                <li><a href="#dropdown_colored">Colors</a></li>
            </ul>
        </section>

        <section class="row" id="dropdown_example">
            <h6>Example</h6>
            <p>
                Check the example for how to use:

            </p>
            <div class="col-12">
                <div class="dropdown">
                    <button class="btn">dropdown <i class="material-icons">keyboard_arrow_down</i></button>
                    <div class="dropdown-content menu">
                        <a class="menu-item" href="#">link one</a>
                        <a class="menu-item" href="#">link two</a>
                    </div>
                </div>
            </div>
<div class="col-12 code info code-large">
{% highlight html %}
<div class="dropdown">
    <button class="btn">dropdown <i class="material-icons">keyboard_arrow_down</i></button>
    <div class="dropdown-content menu">
        <a class="menu-item" href="#">link one</a>
        <a class="menu-item" href="#">link two</a>
    </div>
</div>
{% endhighlight %}
</div>
        </section>

        <section class="row" id="dropdown_colored">
            <h6>Colors</h6>
            <p>
                You can colored with the predefined colors or any of color from the <a class="slide-item" href="{{ site.baseurl }}/components/colors.html">color palette</a>

            </p>
            <div class="col-12">
                <div class="dropdown">
                    <button class="btn btn-primary">dropdown <i class="material-icons">keyboard_arrow_down</i></button>
                    <div class="dropdown-content menu primary">
                        <a class="menu-item" href="#">link one</a>
                        <a class="menu-item" href="#">link two</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="btn btn-success">dropdown <i class="material-icons">keyboard_arrow_down</i></button>
                    <div class="dropdown-content menu success">
                        <a class="menu-item" href="#">link one</a>
                        <a class="menu-item" href="#">link two</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="btn btn-info">dropdown <i class="material-icons">keyboard_arrow_down</i></button>
                    <div class="dropdown-content menu info">
                        <a class="menu-item" href="#">link one</a>
                        <a class="menu-item" href="#">link two</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="btn btn-warning">dropdown <i class="material-icons">keyboard_arrow_down</i></button>
                    <div class="dropdown-content menu warning">
                        <a class="menu-item" href="#">link one</a>
                        <a class="menu-item" href="#">link two</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="btn btn-danger">dropdown <i class="material-icons">keyboard_arrow_down</i></button>
                    <div class="dropdown-content menu danger">
                        <a class="menu-item" href="#">link one</a>
                        <a class="menu-item" href="#">link two</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="btn">dropdown <i class="material-icons">keyboard_arrow_down</i></button>
                    <div class="dropdown-content menu bg-yellow text-black">
                        <a class="menu-item" href="#">link one</a>
                        <a class="menu-item" href="#">link two</a>
                    </div>
                </div>
            </div>
    <div class="col-12 code info code-large">
{% highlight html %}
<div class="dropdown">
    <button class="btn btn-primary">dropdown <i class="material-icons">keyboard_arrow_down</i></button>
    <div class="dropdown-content menu primary">
        <a class="menu-item" href="#">link one</a>
        <a class="menu-item" href="#">link two</a>
    </div>
</div>
<div class="dropdown">
    <button class="btn btn-success">dropdown <i class="material-icons">keyboard_arrow_down</i></button>
    <div class="dropdown-content menu success">
        <a class="menu-item" href="#">link one</a>
        <a class="menu-item" href="#">link two</a>
    </div>
</div>
<div class="dropdown">
    <button class="btn btn-info">dropdown <i class="material-icons">keyboard_arrow_down</i></button>
    <div class="dropdown-content menu info">
        <a class="menu-item" href="#">link one</a>
        <a class="menu-item" href="#">link two</a>
    </div>
</div>
<div class="dropdown">
    <button class="btn btn-warning">dropdown <i class="material-icons">keyboard_arrow_down</i></button>
    <div class="dropdown-content menu warning">
        <a class="menu-item" href="#">link one</a>
        <a class="menu-item" href="#">link two</a>
    </div>
</div>
<div class="dropdown">
    <button class="btn btn-danger">dropdown <i class="material-icons">keyboard_arrow_down</i></button>
    <div class="dropdown-content menu danger">
        <a class="menu-item" href="#">link one</a>
        <a class="menu-item" href="#">link two</a>
    </div>
</div>
<div class="dropdown">
    <button class="btn">dropdown <i class="material-icons">keyboard_arrow_down</i></button>
    <div class="dropdown-content menu bg-yellow text-black">
        <a class="menu-item" href="#">link one</a>
        <a class="menu-item" href="#">link two</a>
    </div>
</div>
{% endhighlight %}
    </div>
        </section>
    </div>
</section>

