---
title: Tabs
layout: page
description: Tabs
source: 
components: true
---

<section class="m-t-3 col-12">
    <div class="alert tab-content" id="alert">
      <strong>Hello!</strong> This is the basic default alert.
    </div>
    <div class="alert primary tab-content" id="primaryalert">
      <strong>Well...</strong> You read this primary alert message.
    </div>
    <div class="alert success tab-content" id="successalert">
      <strong>Well done!</strong> You successfully read this important alert message.
    </div>
    <div class="alert info tab-content" id="infoalert">
      <strong>Heads up!</strong> This alert needs your attention, but it's not super important.
    </div>
    <div class="alert warning tab-content" id="warningalert">
      <strong>Warning!</strong> Better check yourself, you're not looking too good.
    </div>
    <div class="alert danger tab-content" id="dangeralert">
      <strong>Oh snap!</strong> Change a few things up and try submitting again.
    </div>
    <div class="row">
        <h6>basic navbar</h6>
        <p class="col-12">
            the basic navbar HTML very easy
        </p>

    </div>
</section>
