/* utilities/_helpers.sass */
.#{$class-img-fluid} {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.#{$class-img-overlay} {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: $card-padding;
}

.#{$class-text-muted} {
  color: $secondary-font-color;
}

.#{$class-no-border} {
  border: none !important;
}
