/* _shadow.sass */
.#{$class-shadow-2} {
  &:not(.#{$class-navbar}) {
    @include shadow-2dp;
  }

  &.#{$class-navbar} {
    @include navbar-shadow-2dp;
  }

  &.#{$class-shadow--hover} {
    box-shadow: none;

    &:hover {
      @include shadow-2dp;
    }
  }
}

.#{$class-shadow-3} {
  &:not(.#{$class-navbar}) {
    @include shadow-3dp;
  }

  &.#{$class-navbar} {
    @include navbar-shadow-3dp;
  }

  &.#{$class-shadow--hover} {
    box-shadow: none;

    &:hover {
      @include shadow-3dp;
    }
  }
}

.#{$class-shadow-4} {
  &:not(.#{$class-navbar}) {
    @include shadow-4dp;
  }

  &.#{$class-navbar} {
    @include navbar-shadow-4dp;
  }

  &.#{$class-shadow--hover} {
    box-shadow: none;

    &:hover {
      @include shadow-4dp;
    }
  }
}

.#{$class-shadow-6} {
  &:not(.#{$class-navbar}) {
    @include shadow-6dp;
  }

  &.#{$class-navbar} {
    @include navbar-shadow-6dp;
  }

  &.#{$class-shadow--hover} {
    box-shadow: none;

    &:hover {
      @include shadow-6dp;
    }
  }
}

.#{$class-shadow-8} {
  &:not(.#{$class-navbar}) {
    @include shadow-8dp;
  }

  &.#{$class-navbar} {
    @include navbar-shadow-8dp;
  }

  &.#{$class-shadow--hover} {
    box-shadow: none;

    &:hover {
      @include shadow-8dp;
    }
  }
}

.#{$class-shadow-16} {
  &:not(.#{$class-navbar}) {
    @include shadow-16dp;
  }

  &.#{$class-navbar} {
    @include navbar-shadow-16dp;
  }

  &.#{$class-shadow--hover} {
    box-shadow: none;

    &:hover {
      @include shadow-16dp;
    }
  }
}

.#{$class-shadow-24} {
  &:not(.#{$class-navbar}) {
    @include shadow-24dp;
  }

  &.#{$class-navbar} {
    @include navbar-shadow-24dp;
  }

  &.#{$class-shadow--hover} {
    box-shadow: none;

    &:hover {
      @include shadow-24dp;
    }
  }
}

.#{$class-shadow-full} {
  @include shadow-full;

  &.#{$class-shadow--hover} {
    box-shadow: none;

    &:hover {
      @include shadow-full;
    }
  }
}
