<!DOCTYPE html>
<html lang="en">
    <head>
        {% include head.html %}
    </head>
<body>
    <main class="main row l-center" id="tacss-main">
        <div style="max-width: 900px">
            <div class="row l-center m-t-5">
                <img src="{{ site.baseurl }}/img/taCss-logo.png" alt="tacss logo" width="250px">
            </div>
            <p class="row l-center">
                Open source modular CSS toolkit with incredible customization
                <div class="row l-space-around">
                    <a class="btn btn-primary" href="{{ site.baseurl }}/objects/grid.html">Getting Started</a>
                </div>
            </p>
        </div>
    </main>
    <script src="{{ site.baseurl }}/js/tacss.js"></script>
</body>
</html>
